<header>
<div class="wrap">
  <div class="container">
    <div class="row justify-content-between">
        <div class="col">
          <p class="mb-0 text-white phone"><span class="fas fa-phone-alt mr-2"></span> <a class="mr-3 text-white" href="#">Contacto:+56 9 1234 567
            <span class="far fa-envelope-open text-white mr-2 ml-4"></span> <a class="text-white" href="#">Correo: correo@ejemplo.com</a> </a></p>

        </div>
        <div class="col d-flex justify-content-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="#" target="_blank" class="d-flex align-items-center justify-content-center"><i class="fab fa-facebook text-white"><i class="sr-only">Facebook</i></i></a>
              <a href="#" target="_blank" class="d-flex align-items-center justify-content-center"><i class="fab fa-instagram text-white"><i class="sr-only">Instagram</i></i></a>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
</header>

<nav class="navbar navbar-expand-lg navbar-primary ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <img style="width: 85px; height: 90px;" src="assets/images/logo.jpg" alt="logo starcoaching">
    <a class="navbar-brand" href="index.html">Star <span>Coaching</span></a>
    <form action="#" class="searchform order-sm-start order-lg-last">

    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item"><a [routerLink]="[('/inicio')]" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a [routerLink]="[('/acerca-de-mi')]" class="nav-link">Acerca de mí</a></li>
        <li class="nav-item"><a [routerLink]="[('/servicios')]" class="nav-link">Servicios</a></li>
        <li class="nav-item"><a [routerLink]="[('/blog')]" class="nav-link">Blog</a></li>
        <li class="nav-item"><a [routerLink]="[('/contacto')]" class="nav-link">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- END nav -->



