:host{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
