
.backa {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom,
  rgba(34, 0, 42, 0.972),
  rgba(45, 0, 56, 0.918),
  rgba(0, 0, 0, 0.842)
  ), url(/assets/images/ftesti.jpg)no-repeat center center fixed;
  background-color: rgb(117, 11, 11);
}

.backan {
  background-color: rgba(11, 1, 15, 0.671);
}

.backee {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-size: contain;
  background: linear-gradient(to bottom,
  rgba(241, 241, 241, 0.931),
  rgba(241, 241, 241, 0.931),
  rgba(241, 241, 241, 0.931),
  ), url(/assets/images/participaciondos.jpg)no-repeat center center fixed;
  background-color: rgb(117, 11, 11);
}
/*
.backei {
  background-color: rgba(247, 161, 127, 0.363);
  background: linear-gradient(to bottom,
  #fde288f3,
  #f1e092f3,
  #f5d776f3
  );
}
url(/assets/images/coachi.jpg)no-repeat center center fixed*/

.backii {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-size: contain;
  background: linear-gradient(to bottom,
  rgba(255, 255, 255, 0.933),
  rgba(255, 255, 255, 0.933),
  rgba(255, 255, 255, 0.933),
  ), url(/assets/images/ftesti.jpg)no-repeat center center fixed;
  background-color: rgb(117, 11, 11);
}

/*
  rgba(34, 0, 42, 0.972),
  rgba(153, 2, 190, 0.918),
  rgba(26, 0, 19, 0.842)

    #311320ec,
  #802b50d5,
  #4d0422fa

    rgba(34, 0, 42, 0.972),
  rgba(45, 0, 56, 0.918),
  rgba(0, 0, 0, 0.842)
*/

.backeie {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url(/assets/images/participacion.jpg)no-repeat center center fixed;
  background-color: rgba(117, 11, 11, 0);
  font: #fff;
  opacity: .1;
}

.sec{
  position: relative;
}


/*FONDO TAMAÑO COMPLETO*/
.backuo {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: linear-gradient(to bottom,
  rgb(226, 192, 2),
  rgba(233, 1, 221, 0.965),
  rgba(0, 0, 0, 0.452)
  ), url(/assets/images/mora4.jpg)no-repeat center center;
  background-color: rgb(117, 11, 11);
}

.backi {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(to bottom,
  rgb(226, 192, 2),
  rgba(233, 1, 221, 0.965),
  rgba(0, 0, 0, 0.452)
  ), url(/assets/images/coachi.jpg)no-repeat center center fixed;
  display: block;
  background-color: rgb(117, 11, 11);
}
.backu {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: linear-gradient(to bottom,
  rgba(206, 1, 233, 0.664),
  rgba(172, 0, 115, 0),
  rgba(0, 0, 0, 0.061)
  ), url(/assets/images/participacion.jpg)no-repeat center center fixed;
  opacity: .1;
  background-color: rgba(117, 11, 11, 0);
  font: #fff;
}

.tsize {
  font-size: 14px;
}
@media only screen and (max-width: 799px) {
  .tsize {
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  .tsize {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1024px) {
  .tsize2 {
    font-size: 12px;
  }
}
.mat-c{
  border-radius: 38px 10px 10px 39px;
  -moz-border-radius: 38px 10px 10px 39px;
  -webkit-border-radius: 38px 10px 10px 39px;
  border: 0px solid #000000;
  -webkit-box-shadow: 17px 15px 19px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 15px 19px -8px rgba(0,0,0,0.75);
  box-shadow: 17px 15px 19px -8px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 1024px) {
  .mat-c {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 1020px) {
  .qimg {
    height: 30% !important;
    width: 30% !important;
  }
}
@media only screen and (max-width: 800px) {
  .tsizeh4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .qsectionsize {
    height: 750px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.violeta {
  color: #a200f3;
}

.rojo{
  color: #f3000c;
}

.amarillo {
  color: #fbff00;
}

.negro{
  color: #000000;
}

.blue{
  color: #007bff;
}

.indigo{color: #6610f2 !important;}
.purple{color:#6f42c1 !important;}
.pink{color: #e83e8c !important;}
.red{color:#dc3545 !important;}
.orange{color:#fd7e14 !important;}
.yellow{color:#ffc107 !important;}
.green{color:#28a745 !important;}
.teal{color:#20c997 !important;}
.cyan{color:#17a2b8 !important;}
.white{color:#fff !important;}
.gray{color:#6c757d !important;}
.gray-dark{color:#343a40 !important;}
.light{color:#c2f2fd !important;}
.dark{color:#343a40 !important;}
.primary{color: #007bff !important;}
.secondary{color:#0420c2 !important;}
.success{color:#28a745 !important;}
.info{color:#0092a9 !important;}
.warning{color:#dca500 !important;}
.danger{color:#dc3545 !important;}


.letra1{font-family: 'Courier New', Courier, monospace;}
.letra2{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.letra3{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.letra4{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.letra5{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.letra6{font-family: 'Times New Roman', Times, serif;}
.letra7{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.letra8{font-family: Arial, Helvetica, sans-serif;}
.letra9{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.letra10{font-family: Georgia, 'Times New Roman', Times, serif;}
.letra11{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.letra12{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.letra13{font-family: cursive;}
.letra14{font-family: fantasy;}
.letra15{font-family: monospace;}
.letra16{font-family: sans-serif;}
.letra17{font-family: serif;}
.letra18{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

:root {


  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
