
.backa {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom,
  rgba(34, 0, 42, 0.972),
  rgba(45, 0, 56, 0.918),
  rgba(0, 0, 0, 0.842)
  ), url(/assets/images/ftesti.jpg)no-repeat center center fixed;
  background-color: rgb(117, 11, 11);
}

.backan {
  background-color: rgba(11, 1, 15, 0.671);
}

.backee {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-size: contain;
  background: linear-gradient(to bottom,
  rgba(241, 241, 241, 0.931),
  rgba(241, 241, 241, 0.931),
  rgba(241, 241, 241, 0.931),
  ), url(/assets/images/participaciondos.jpg)no-repeat center center fixed;
  background-color: rgb(117, 11, 11);
}
/*
.backei {
  background-color: rgba(247, 161, 127, 0.363);
  background: linear-gradient(to bottom,
  #fde288f3,
  #f1e092f3,
  #f5d776f3
  );
}
url(/assets/images/coachi.jpg)no-repeat center center fixed*/

.backii {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-size: contain;
  background: linear-gradient(to bottom,
  rgba(255, 255, 255, 0.933),
  rgba(255, 255, 255, 0.933),
  rgba(255, 255, 255, 0.933),
  ), url(/assets/images/ftesti.jpg)no-repeat center center fixed;
  background-color: rgb(117, 11, 11);
}

/*
  rgba(34, 0, 42, 0.972),
  rgba(153, 2, 190, 0.918),
  rgba(26, 0, 19, 0.842)

    #311320ec,
  #802b50d5,
  #4d0422fa

    rgba(34, 0, 42, 0.972),
  rgba(45, 0, 56, 0.918),
  rgba(0, 0, 0, 0.842)
*/

.backeie {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url(/assets/images/participacion.jpg)no-repeat center center fixed;
  background-color: rgba(117, 11, 11, 0);
  font: #fff;
  opacity: .1;
}

.sec{
  position: relative;
}


/*FONDO TAMAÑO COMPLETO*/
.backuo {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: linear-gradient(to bottom,
  rgb(226, 192, 2),
  rgba(233, 1, 221, 0.965),
  rgba(0, 0, 0, 0.452)
  ), url(/assets/images/mora4.jpg)no-repeat center center;
  background-color: rgb(117, 11, 11);
}

.backi {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(to bottom,
  rgb(226, 192, 2),
  rgba(233, 1, 221, 0.965),
  rgba(0, 0, 0, 0.452)
  ), url(/assets/images/coachi.jpg)no-repeat center center fixed;
  display: block;
  background-color: rgb(117, 11, 11);
}
.backu {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: linear-gradient(to bottom,
  rgba(206, 1, 233, 0.664),
  rgba(172, 0, 115, 0),
  rgba(0, 0, 0, 0.061)
  ), url(/assets/images/participacion.jpg)no-repeat center center fixed;
  opacity: .1;
  background-color: rgba(117, 11, 11, 0);
  font: #fff;
}

.tsize {
  font-size: 14px;
}
@media only screen and (max-width: 799px) {
  .tsize {
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  .tsize {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1024px) {
  .tsize2 {
    font-size: 12px;
  }
}
.mat-c{
  border-radius: 38px 10px 10px 39px;
  -moz-border-radius: 38px 10px 10px 39px;
  -webkit-border-radius: 38px 10px 10px 39px;
  border: 0px solid #000000;
  -webkit-box-shadow: 17px 15px 19px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 15px 19px -8px rgba(0,0,0,0.75);
  box-shadow: 17px 15px 19px -8px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 1024px) {
  .mat-c {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 1020px) {
  .qimg {
    height: 30% !important;
    width: 30% !important;
  }
}
@media only screen and (max-width: 800px) {
  .tsizeh4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .qsectionsize {
    height: 750px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
