.purple{
  color: rgb(211, 71, 253) !important;
}
.texto90 {
  width: 10%;
  height: 10%;
}
.texto91 {
  width: 20%;
  height: 20%;
}
.texto92 {
  width: 30%;
  height: 30%;
}
.texto93 {
  width: 40%;
  height: 40%;
}
.texto94 {
  width: 50%;
  height: 50%;
}
.texto95 {
  width: 60%;
  height: 60%;
}
.texto96 {
  width: 70%;
  height: 70%;
}
