
    <footer class="footer">
			<div class="container-fluid px-lg-5">
				<div class="row">
					<div class="col-md-9 py-5">
						<div class="row">
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Acerca de "ASTRAL"</h2>
								<p class="text-white mb-4">Frase inspiradora o alguna frase que caracterice los servicios del emprendimiento, empresa, etc.</p>
								<ul class="ftco-footer-social p-0">
		              <li class="ftco-animate"><a href="#" class="purple" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fab fa-twitter"></span></a></li>
		              <li class="ftco-animate"><a href="#" class="purple"  data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fab fa-facebook"></span></a></li>
		              <li class="ftco-animate"><a href="#" class="purple"  data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fab fa-instagram"></span></a></li>
		            </ul>
							</div>
							<div class="col-md-8">
								<div class="row justify-content-center">
									<div class="col-md-12 col-lg-10">
										<div class="row">
											<div class="col-md-4 mb-md-0 mb-4">
												<h2 class="footer-heading">Inicio</h2>
												<ul class="list-unstyled d-flex">
						              <li><a href="#" class="py-1 d-block mr-3">Inicio</a></li>
						              <li><a href="#" class="py-1 d-block mr-3">Acerca de Mí</a></li>
						              <li><a href="#" class="py-1 d-block mr-3">Blog</a></li>
						            </ul>
											</div>
											<div class="col-md-4 mb-md-0 pb-5 mb-5">
                        <h2 class="footer-heading">Servicios</h2>
												<ul class="list-unstyled d-flex">
						              <li><a href="#" class="py-1 d-block mr-3">Servicios</a></li>
						              <li><a href="#" class="py-1 d-block">Contacto</a></li>
						            </ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-md-5">
							<div class="col-md-12">
								<p class="copyright text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					  Copyright | Esta página está hecha <i class="fa fa-heart" aria-hidden="true"></i> por <a class="purple" href="https://tripy.xyz" target="_blank">tripy.xyz</a>
					  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
							</div>
						</div>
					</div>
					<!-- <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
						<h2 class="footer-heading">Conversemos: Primera Consulta Gratis</h2>
						<form action="#" class="form-consultation">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tu Nombre">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tu Correo">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Asunto">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Mensaje"></textarea>
              </div>
              <div class="form-group">
              	<button type="submit" class="form-control submit px-3">Enviar Mensaje</button>
              </div>
            </form>
					</div> -->
				</div>
			</div>
	</footer>

