<!--
    <footer class="footer">
			<div class="container-fluid px-lg-5">
				<div class="row">
					<div class="col-md-9 py-5">
						<div class="row">
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Acerca de "ASTRAL"</h2>
								<p class="text-white mb-4">Frase inspiradora o alguna frase que caracterice los servicios del emprendimiento, empresa, etc.</p>
								<ul class="ftco-footer-social p-0">
		              <li class="ftco-animate"><a href="#" class="purple" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fab fa-twitter"></span></a></li>
		              <li class="ftco-animate"><a href="#" class="purple"  data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fab fa-facebook"></span></a></li>
		              <li class="ftco-animate"><a href="#" class="purple"  data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fab fa-instagram"></span></a></li>
		            </ul>
							</div>
							<div class="col-md-8">
								<div class="row justify-content-center">
									<div class="col-md-12 col-lg-10">
										<div class="row">
											<div class="col-md-4 mb-md-0 mb-4">
												<h2 class="footer-heading">Inicio</h2>
												<ul class="list-unstyled d-flex">
						              <li><a href="#" class="py-1 d-block mr-3">Inicio</a></li>
						              <li><a href="#" class="py-1 d-block mr-3">Acerca de Mí</a></li>
						              <li><a href="#" class="py-1 d-block mr-3">Blog</a></li>
						            </ul>
											</div>
											<div class="col-md-4 mb-md-0 pb-5 mb-5">
                        <h2 class="footer-heading">Servicios</h2>
												<ul class="list-unstyled d-flex">
						              <li><a href="#" class="py-1 d-block mr-3">Servicios</a></li>
						              <li><a href="#" class="py-1 d-block">Contacto</a></li>
						            </ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-md-5">
							<div class="col-md-12">
								<p class="copyright text-white">
					  Copyright | Esta página está hecha <i class="fa fa-heart" aria-hidden="true"></i> por <a class="purple" href="https://tripy.xyz" target="_blank">tripy.xyz</a>
</p>
							</div>
						</div>
					</div>

				</div>
			</div>
	</footer> -->


  <div class="">

      <!-- Section: Introduction -->
  <!-- <section class="">


    <p>STAR COACHING</p>

    <a class="btn btn-primary me-2" [routerLink]="[('/inicio')]" target="_blank" role="button">INICIO<i class="fas fa-download ms-2"></i></a>
    <a class="btn btn-danger me-2" [routerLink]="[('/acerca-de-mi')]" role="button">ACERCA DE MÍ</a>
    <a class="btn btn-success me-2" [routerLink]="[('/servicios')]" role="button">SERVICIOS</a>
    <a class="btn btn-dark me-2" [routerLink]="[('/contacto')]" role="button">CONTACTO<i class="fab fa-github ms-2"></i></a>

  </section> -->


    <section class="">

      <hr>

      <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section *ngFor="let i of inicio$ |async" class="mb-4">
            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998;"
               target="_blank"
               href="{{i.texto80}}"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee;"
               target="_blank"
               href="{{i.texto81}}"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39;"
               href="#!"
               role="button"
               ><i class="fab fa-google"></i
              ></a>-->

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac;"
               target="_blank"
               href="{{i.texto82}}"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca;"
               target="_blank"
               href="{{i.texto83}}"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>
            <!-- Github
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333;"
               href="#!"
               role="button"
               ><i class="fab fa-github"></i
              ></a> -->
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-dark" href="https://AAAAAAAAAAAAA.com/">Miguel Figueroa</a>
        </div>
        <!-- Copyright -->
      </footer>


    </section>
    <!-- Section: Basic example -->
  </div>
